@import "design_system";

body {
  background-color: $color-grey-900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: $spacing-150;
  width: 327px;
  height: 579px;
  background: $color-grey-800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-300;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-300;
}

.profile-pic {
  border-radius: 999px;
  width: 88px;
  height: 88px;
}

.name-location {
  width: 279px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-50;
}

.name {
  @include text-preset-1();
}

.location {
  @include text-preset-2-bold();
  color: $green;
}

.bio {
  @include text-preset-2();
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 289px;
  gap: $spacing-200;
  list-style: none;

  .button {
    width: 100%;

    a {
      @include text-preset-2-bold();
      background: $color-grey-700;
      border-radius: $spacing-100;
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.3s, background 0.9s;
      text-decoration: none;

      &:hover {
        background: $green;
        color: $color-grey-700;
        cursor: $cursor;
        transition: color 0.3s, background 0.7s;
      }

      &:focus {
        background: $green;
        color: $color-grey-700;
        transition: color 0.1s, background 0.3s;
        outline: none;
      }
    }
  }
}

.attribution {
  @include text-preset-2();
  width: 100%;
  min-width: 300px;
  text-align: center;
  font-size: 11px;
  padding: $spacing-150 0;

  a {
    text-decoration: none;
    color: $green;
    border-radius: $spacing-50;
    text-align: center;
    padding: 1px 3px;
    transition: color 0.1s, background 0.5s;

    &:hover {
      border-radius: $spacing-50;
      background: $green;
      color: $color-grey-700;
      cursor: $cursor;
      transition: color 0.3s, background 0.7s;
    }

    &:focus-visible {
      border-radius: $spacing-50;
      background: $green;
      color: $color-grey-700;
      transition: color 0.1s, background 0.3s;
      outline: none;
    }

  }
}

@media screen and (min-width: 576px) {
  .card {
    padding: $spacing-500;
    width: 384px;
    height: 611px;
    max-width: 456px;
  }
  .links {
    width: 304px;
  }
}


